
@font-face {
font-family: Helvetica;
src: url('fonts/HelveticaNeue.ttf') format('truetype');
font-weight:normal;
font-style:normal;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
html{
	height:100%;
}
body {
	background:linear-gradient(45deg, #000, #fff);
	height:100%;
}

main {
	max-width:1200px;
	margin:0 auto;
}

article {
	width:30%;
	padding-top:30%;
	padding-bottom:30%;
	height: 0;
	margin:0 auto;
	transform:translateY(1em);
	background:#000;
	border-radius:2em;
}

.screen {
	background:white;
	width:90%;
	margin-top:-80%;
	transform:translateX(5%);
	height:80%;
	position:absolute;
	overflow:scroll;
	overflow-x:hidden;
}

.inside {
	padding:5%;
}

p {
	background:rgb(0, 122, 255);
	padding:5%;
	color:#fff;
	font-family:'Helvetica';
	font-size:14px;
	line-height:1.6em;
	letter-spacing:.1em;
	border-radius:1em;
	width:70%;
	margin: 10px 0 auto auto;
	}